[user]
        name = peperoncino
        email = 2wua4nlyi@gmail.com
[core]
        editor = code --wait
[alias]
	# delete merged branches
	delete-mb = "!f() { \
	  base=${1:-main}; \
	  git checkout \"$base\" || exit 1; \
	  used=$(git worktree list --porcelain | awk '/branch /{print $2}' | sed 's#refs/heads/##'); \
	  git branch --merged \"$base\" --format='%(refname:short)' \
	    | grep -Ev '^(develop|main|master|production)$' \
	    | while read b; do \
	        echo \"$used\" | grep -qx \"$b\" && continue; \
	        git branch -d \"$b\"; \
	      done; \
	}; f"
